article {
  .category {
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    margin-left: 1rem;
    padding: .4rem 1rem;
    border: 1px solid $base-clr;
    border-radius: 6px;
    line-height: 1;

    &:hover {
      background-color: $base-clr;
      color: $bg-clr;
      transition: all 400ms ease-in;
    }
  }

  small {
    display: inline-block;
    margin-bottom: 1em;
      }

  p {
    + * {
      margin-top: 1em;
    }
  }
}

.caption {
    margin-bottom: 1em;
    font-style: italic;
    max-width: 75% !important;
    font-size: smaller;
    margin: -1em auto 1em auto;
      }

img + em {
  font-size: 2rem;
  font-style: italic;
}
 

.headline {
  max-width: none;
  width: 100%;
  height: auto;
}

img.headline {
  margin: 0 auto 0.4em auto;
}


.author {
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  margin-left: 0rem;
  padding: .4rem 1rem;
  border: 1px solid $base-clr;
  border-radius: 6px;
  line-height: 1;
  color: $bg-clr;
  background-color: $base-clr;

  &:hover {
    background-color: $bg-clr;
    color: $base-clr;
    transition: all 400ms ease-in;
    }
 }


.clickshare {
  display: inline-block;
  font-family: $main-font;
  font-weight: 600;
  text-decoration: none;
  margin-left: 0rem;
  padding: .4rem 1rem;
  border: 1px solid $base-clr;
  border-radius: 6px;
  line-height: 1;
  color: $bg-clr;
  background-color: $base-clr;
  transition: all 3000ms ease-in-out;


  &:active {
    background-color: $bg-clr;
    color: $base-clr;
    transition: all 0.1ms ease-in;
    }
    }

 
