---
layout: page
title: "Articles"
eleventyNavigation:
    key: articles
    order: 2
pagination:
  data: collections.blog
  size: 10
  alias: articles
---

<h1>{{ title }}</h1>
<p class="headline">This view contains a list of all articles sorted from newest to oldest.</p>
<br>
<hr>
<br>

{% include "./_includes/components/articleList.njk" %}
<br>
{% include "./_includes/components/categoryNav.njk" %}
